
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ekle</h2>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Kategoriler
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" id="#myDropDown">Tarım Araçları</a>
        <a class="dropdown-item" href="#" id="#myDropDown">Another action</a>
        <a class="dropdown-item" href="#" id="#myDropDown">Something else here</a>
    </div>
    <div id="partialPlaceHolder" style="display:none;"> </div>
</div>


<script>
    $('#myDropDown').change(function () {

        /* Get the selected value of dropdownlist */
        var selectedID = $(this).val();

        /* Request the partial view with .get request. */
        $.get('/Controller/MyAction/' + selectedID, function (data) {

            /* data is the pure html returned from action method, load it to your page */
            $('#partialPlaceHolder').html(data);
            /* little fade in effect */
            $('#partialPlaceHolder').fadeIn('fast');
        });

    });
</script>
