@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<h2>Ekle</h2>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                İlan Kategori
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item a1" href="#">Tarım Araçları</a>
                <a class="dropdown-item a2" href="#">Arazi</a>
                <a class="dropdown-item a3" href="#">Hizmet Ver</a>
                <a class="dropdown-item a4" href="#">İş İlanı</a>
                <a class="dropdown-item a5" href="#">Hayvanlar</a>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="container" id="partialdiv">

</div>


<script>
    $(document).ready(function () {
        $(".a1").click(function () {
            $("#partialdiv").load("/TarimArac/TarimAracEkle");

        })
        $(".a2").click(function () {
            $("#partialdiv").load("/Ilan/DenemePartial");
        })
        $(".a3").click(function () {
            $("#partialdiv").load("/Ilan/DenemePartial");
        })
        $(".a4").click(function () {
            $("#partialdiv").load("/Ilan/DenemePartial");
        })
        $(".a5").click(function () {
            $("#partialdiv").load("/Ilan/DenemePartial");
        })
    });

</script>